---
name: Lint

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  COLUMNS: '120'
  FORCE_COLOR: '1'

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    name: pre-commit
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'
          cache: pip
      - name: Install packages
        run: python -m pip install --upgrade pip pre-commit
      - name: Run linting tools
        run: pre-commit run --all-files
        env:
          PRE_COMMIT_COLOR: always
